<div id="index-container" class="container">
  <%= image_tag "acadia-logo.svg" %>
  <div class="content">
    <div class="section">
      <h1>
        Socks made for an adventure, sold for a mission.
      </h1>
    </div>
    <div class="section">
      <p>
        Socks are the most needed but least donated articles of clothing in homeless shelters. We’re developing socks that will keep up with your lifestyle and for each pair we sell, we’ll give one to a shelter in need.
      </p>
      <p>
        We’re on a mission to keep everyone’s toes nice and toasty. Sign up below to get one of the first pairs we knit.
      </p>
      <form action="https://sansfrancis.us13.list-manage.com/subscribe/post?u=ff2cc04426b8359a5ba60e9bc&amp;id=945bbc309a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address" autofocus>
        <button class="icon-button"><%= image_tag "arrow.svg" %></button>
      </form>
    </div>
  </div>
</div>
